
##
# OSX
##

.DS_Store
.AppleDouble
.LSOverride

Icon

._*

.Spotlight-V100
.Trashes

.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

##
# RUBY
##

*.gem
*.rbc
/.config
/coverage/
/InstalledFiles
/pkg/
/spec/reports/
/test/tmp/
/test/version_tmp/
/tmp/

/.yardoc/
/_yardoc/
/doc/
/rdoc/

/lib/bundler/man/

# Gemfile.lock
#.ruby-version
#.ruby-gemset
.rvmrc

##
# RAILS
##

*.rbc
capybara-*.html
.rspec
/log
/tmp
/db/*.sqlite3
/public/system
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html

#config/initializers/secret_token.rb
config/secrets.yml

/.bundle
/vendor/bundle

/vendor/assets/bower_components
*.bowerrc
bower.json

##
# NODE
##

logs
*.log

pids
*.pid
*.seed

lib-cov
coverage

.grunt

#build/Release
#node_modules

# Users Environment Variables
.lock-wscript

##
# SASS
##

.sass-cache
*.css.map

##
# GO
##

*.o
*.a
*.so

_obj
_test

*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

##
# SUBLIME TEXT
##

*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

*.sublime-workspace
*.sublime-project
sftp-config.json

##
# TEXTMATE
##

*.tmproj
*.tmproject
tmtags

##
# VAGRANT
##

.vagrant/

##
# WINDOWS
##

Thumbs.db
ehthumbs.db

Desktop.ini

$RECYCLE.BIN/

*.cab
*.msi
*.msm
*.msp

*.lnk

##
# XCODE
##

build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.xcuserstate